//
:host {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.header{
    width: 100%;
    height: 60px;
	background: #f9f9f9;
	.profile {
		width: 100%;
		height: 40px;
		background: -webkit-linear-gradient(top, #f5f5f5, #d4d4d4);
		display: flex;
		padding: 0 10px;
		box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2);
		position: relative;
		.avatar {
			width: 40px;
			height: 40px;
			// background-image: url("assets/avtar.png");
			background-size: cover;
			border-radius: 10px;
			box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .5);
			position: absolute;
			top: 10px;
			img {
				width: 40px;
				height: 40px;
			}
		}
		.username {
			font-size: 14px;
			font-weight: bold;
			margin: 10px 0 0 50px;
		}
	}
}
.main {
	flex: 1;
    width: 100%;
    // height: calc(100% - 110px);
    background: #f9f9f9;
    overflow-y: auto;
	box-shadow: inset 0 -10px 10px -10px rgba(0,0,0,.2);
	.conversation {
		margin: 0 5px 15px;
	}
}
lit-emoji-picker{
    width: 100%;
    height: 220px;
}
.footer {
	width: 100%;
    min-height: 50px;
	background: #ddd;
	padding: 0 0 5px;
	display: inline-block;
	.editor-wrapper {
		height: 40px;
		display: flex;
		align-items: center;
		button {
			background: none;
			border: none;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

			&:focus {
				outline: none;
			}
		}

		.editor-start {
			width: 40px;
		}

		.editor-content {
			background: #fff;
			width: 90%;
			height: auto;
			line-height: 20px;
			border-radius: 25px;
			margin-left: 10px;

			.editor-inner {
				width: 90%;
				min-height: 30px;
				margin: 0 auto;
				display: flex;

				textarea {
					width: 100%;
					height: 26px;
					font-size: 14px;
					line-height: 24px;
					resize: none;
					border: none;
					line-height: 14px;
					-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

					&:focus {
						outline: none;
					}
				}
			}
		}

		.editor-end {
			width: 120px;
			display: flex;

			button {
				margin: 0 5px;

				&:last-child {
					margin-right: 15px;
				}
			}
		}
	}
}
.other {
	position: absolute;
	top: 0;
}
.appraise {
	margin-top: 15px;
	margin-bottom: 15px;
	&.link {
		color: #409EFF;
		text-decoration: underline;
		margin-top: 15px;
		margin-bottom: 0;
	}
}
.center {
    align-items: center;
}
.btn {
    background: #fff;
    color: #606266;
    margin: 0;
    padding: 3px 10px;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
    cursor: pointer;
    white-space: nowrap;
    outline: 0;
    transition: .1s;
    box-sizing: border-box;
	-webkit-appearance: none;
	&.btn-gray {
		color: white;
		background-color: #909399;
		border-color: #909399;
	}
	&.btn-cancel {
		color: white;
		background-color: #F56C6C;
		border-color: #F56C6C;
		padding: 10px 20px;
	}
	&.btn-primary {
		color: white;
		background-color: #409EFF;
		border-color: #409EFF;
		padding: 10px 20px;
	}
}
lit-record {
    margin: 5px;
}
lit-record.left {
    align-items: flex-start;
}
lit-record.right {
    align-items: flex-end;
}
.connection-warning {
	width: 100%;
	background-color: rgba(0, 0, 0, .6);
	color: white;
	text-align: center;
	padding: 15px 0;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
}

// icon
.icon {
	svg {
		width: 24px;
		height: 24px;
	}
}
.my-2 {
	margin-top: .75rem;
	margin-bottom: .75rem;
}
.fright {
	float: right;
}
