//
:host {
	width: 100%;
	display: block;
	padding: 5px 0;

}
textarea {
	width: 100%;
	// min-height: 20px;
	// font-size: 14px;
	border: 0;
	resize: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	&:focus {
		outline: none;
	}

	&:disabled {
		background: none;
	}
}
.copy {
	position: absolute;
	bottom: -50px;
	visibility: hidden;
}
